.appointment{
  background: linear-gradient(44.42deg, #FFF1E1 28.4%, #FFFFFF 52.55%);
}

.appointment__box{
  margin-left: 71px;
}

.appointment__head{
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.appointment__info{
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.appointment__btn{
  padding: 23px 31px;
}

.appointment__btn__text{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.12em;
}

.appointment__img__desktop{
  width: 788px;
  height: 499px;
}

.appointment__img__mbl{
  display: none;
}

@media only screen and (min-width: 0px) and (max-width: 768px) { 
  .appointment__box{
    margin-left: 16px;
    flex-direction: column-reverse;
  }

  .appointment__head{
    font-size: 24px;
    line-height: 29px;
    margin-top: 24px;
  }

  .appointment__info{
    font-size: 16px;
    line-height: 20px;
  }

  .appointment__btn{
    padding: 18px 41px 18px 42px;
    margin: 16px;
  }

  .appointment__btn__text{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
  }

  .appointment__img__desktop{
    display: none;
  }

  .appointment__img__mbl{
    display: block;
    width: 360px;
    height: 352px;
  }
}