.precautions{
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  padding-top: 20px;
  padding-bottom: 23px;
  box-shadow: 0px 4px 4px #EBEBEB;
}

.information_icon{
  width: 24px;
  height: 24px;
  margin-right: 9px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .precautions{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-top: 13px;
    padding-bottom: 11px;
  }
}